<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lessons Mart</title>

        <link rel="stylesheet" href="styles.css">
        <script src="https://unpkg.com/vue@2"></script>

    </head>
    <body>
        <main>
        <div id="app">
            <div class="search">
                <button class="checkoutButton" @click="listCollection('lessons')">Get all lessons</button>
                <button class="checkoutButton" @click="listCollection('orders')">Get orders</button>
            </div>
            <div class="container">
                <div v-if="showLessons"  v-for="(item, key) in data">
                    <div class="item">
                        <p><strong>Subject</strong>: {{item.subject}}</p>
                        <p><strong>Location</strong>: {{item.location}}</p>
                        <p><strong>Price</strong>: {{item.price}}</p>
                        <p><strong>Spaces Remaining</strong>: {{item.spaces}}</p>
                    </div>
                </div>
                <div v-if="showUsers" v-for="(item, key) in data">
                    <div class="item">
                        <p><strong>Name</strong>: {{item.name}}</p>
                        <p><strong>PhoneNo</strong>: {{item.phoneno}}</p>
                        <p><strong>Subject</strong>: {{item.subject}}</p>
                    </div>
                </div>

                <div v-if="showOrders" v-for="(item, key) in data">    
                    <div class="item">
                        <p><strong>Subject</strong>: {{item.subject}}</p>
                        <p><strong>First Name</strong>: {{item.fName}}</p>
                        <p><strong>Last Name</strong>: {{item.lName}}</p>
                        <p><strong>Phone Number</strong>: {{item.phno}}</p>
                        <p><strong>Spaces</strong>: {{item.spaces}}</p>
                    </div>
                </div>
                
            </div><br></br>
            <div v-if="showLessons">
                <div class="form-group">
                    <h2>Create additional Lessons</h2>
                    <label for="topic"><b>Subject</b>:
                        <input class="form-group" type="text" v-model="toPostData.subject">
                    </label>
                    <label for="topic"><b>Location</b>:
                        <input class="form-group" type="text" v-model="toPostData.location">
                    </label>
                    <label for="topic"><b>Price</b>:
                        <input class="form-group" type="number" v-model="toPostData.price">
                    </label> 
                    <label for="topic"><b>Spaces</b>:
                        <input class="form-group" type="number" v-model="toPostData.spaces">
                    </label>                   
                <br></br>
                <button class="btn"  @click="addToCollection('lessons')"> Create </button>
                </div>
            </div>
            <div v-if="showOrders">
                <div class="form-group">
                    <h2>Add Data</h2>
                    <label for="topic"><b>First Name</b>:
                        <input class="form-group" type="text" v-model="toPostData.firstname">
                    </label>
                    <label for="topic"><b>Last Name</b>:
                        <input class="form-group" type="text" v-model="toPostData.lastname">
                    </label>
                    <label for="topic"><b>Phone Number</b>:
                        <input class="form-group" type="number" v-model="toPostData.phoneno">
                    </label>
                    <label for="topic"><b>Number of Spaces</b>:
                        <input class="form-group" type="number" v-model="toPostData.spaces">
                    </label>
                    <label for="lesson"><b>Select lesson</b>:
                        <select v-model="selected" name="" id="">
                            <option class="option-lesson" v-for="(item, key) in availableLessons" :value="item._id">
                                {{item.subject}}
                              </option>
                        </select>
                    </label>                    
                <br></br>
                <button class="btn"  @click="addToCollection('orders')">Submit Invoice</button>
            </div>
            </div>
        </div>
    </main>
        <script >

            const app = new Vue({
                el:"#app",
                data:{
                    data:null,
                    showLessons:false,
                    showUsers:false,
                    showOrders:false,
                    selected:'',    
                    availableLessons:null,
                    toPostData:{
                        subject: " ",
                        location: " ",
                        price: 0,
                        spaces: 0,
                        _id: " ",
                        space: 1,
                    }
                },
                methods : { 
                    async listCollection(collectionName) {
                        if(collectionName == 'lessons'){
                            this.showLessons = true;
                            this.showUsers = false;
                            this.showOrders = false
                        }
                        if(collectionName == 'orders'){
                            this.showLessons = false;
                            this.showUsers = false;
                            this.showOrders = true
                        }
                        const response = await fetch("https://cw2ind.herokuapp.com/collection/"+ collectionName);
                        const data = await response.json();
                        this.data = data;
                    },

                    async addToCollection(collectionName){
                        let newItem;
                        if(collectionName == 'lessons'){
                            newItem= {
                                location: this.toPostData.location,
                                price: this.toPostData.price,
                                //numbers need verification
                                spaces: this.toPostData.spaces,
                                subject: this.toPostData.subject
                            }
                        }
                        if(collectionName == 'orders'){
                            newItem= {
                                name: this.toPostData.name,
                                phone_number: this.toPostData.phone_number,
                                subject: this.selected,
                                space: this.toPostData.space
                            }
                        }

                        fetch('https://cw2ind.herokuapp.com/collection/'+collectionName+'/',{
                            method: 'POST',
                            headers: {
                                'Content-type': 'application/json',
                            },
                            body: JSON.stringify(newItem),
                        })
                        .then(response => response.json())
                        .then(response => {
                            console.log(response);
                            window.location.reload()
                        });
                    },
                },
                async mounted () {
                    const response = await fetch("https://cw2ind.herokuapp.com/collection/lessons");
                    const data = await response.json();
                    this.availableLessons = data;
                },
            });

        </script>
    </body>
</html>
