main{
    width: 1000px;
    padding-left: 10%;
}

*{
    background-color: aliceblue;
    font-family: Arial;
}

.form-group{
    margin: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    
}

.item{
    height: 215px;
    padding: 10px;
    width: 280px;
    margin: 10px;
    border-style: inset;
}

.checkoutButton{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #53a7c9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(211, 163, 255);

    width: 200px;
    margin: 5px;
}

.checkoutButton:hover {background-color: #53a7c9;}

.checkoutButton:active {
    background-color: #53a7c9;
    box-shadow: 0 9px rgb(211, 163, 255);
    transform: translateY(4px);
  }

.btn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 32px;
}

.add {
    height: 40px;
    width: 150px
}
 
.subject{
    float: left;
    margin-right: 10px;
}

#mainHeader{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

